@{
    ViewBag.Title = "Inicio";
    //Viewbag es el nombre de la pagina. OJO DEBE SER EL MISMO QUE USAREMOS EN EL CONTROLADOR Y EN LOS ENLACES.
}
<!--
  Esta es la pagina principal, aqui poner lo que se crea conveniente, recordamos que lo que codifiquemos aqui aparecera cuando se llama a RENDERBODY.
-->
<h1>Libreria IES ARROYO HARNINA</h1>
<h2>Puedes usar los botones superiores para empezar a trabajar.</h2>
